/* MAIN BODY */
*{
    margin: 0;
    padding: 0;            
    box-sizing: border-box;
}
html{    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1px;
    color: white;
}
body{
    background-color: bisque;
    display: flex;
    width: 100%;
    flex-flow: column;
}

/*  */

/* PART IN BODY */
.body-part{
    display: flex;
    width: 100%;
}
#navigation-bar{
    justify-content: space-between;
    height: 100rem;
    background-color: rgba(10, 14, 61, 0.97);
    position: fixed;
    padding-left: 20vw;
    padding-right: 20vw;
}
#navigation-bar-void{
    height: 101rem;
    border: 1rem solid white;
}
#welcome-section{
    flex-flow: row;
    background-color: rgba(10, 14, 61, 0.97);
    opacity: 1;
    height: 500rem;
    padding-left: 20vw;
    padding-right: 20vw;
}
#trending-section{
}
#help-section{
}
#subject-section{
}
/*  NAVIGATION BAR SECTIONS' */
#navigation-bar-part-1{
    display: flex;
    justify-content: flex-start;
    height: inherit;
}
#navigation-bar-part-2{
    display: flex;
    height: inherit;
    justify-content: flex-end;
}
.navigation-bar-sections{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10rem;
}
/*  */
#navigation-bar-section-7-frame{
    min-width: max-content;
    background-color: rgb(6, 78, 6);
    border-radius: 50rem;
    padding: 12rem;
}
/* NAVIGATION BAR SECTIONS' PARTS' */
#pokemon-icon{
    height: 60rem;
}
.navigation-bar-span{
    min-width: max-content;
    font-size: 20rem;
}
#navigation-bar-span-1{   
    font-size: 40rem;
}
/* TOP RIGHT BOTTOM LEFT */
/* WELCOME SECTIONS'*/
#welcome-section-part1{
    border: 1rem solid white;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding: 30rem 10rem 0 30rem;
    z-index: 20;
    max-height: inherit;
    max-width: 60%;
    
}
#welcome-section-part2{
    border: 3rem solid black;
    z-index: 10;
    max-height: inherit;
    position: absolute;
    left: 60%;
}
/*  */
#welcome-section-part1-div1{
    border: 1rem solid white;
    width: 450rem;
    height: 300rem;
}
#welcome-section-part1-div2{

}
#welcome-section-part1-div3{

}
/*  */
#welcome-section-part1-span1{
    font-size: 50rem;
    font-weight: bold;
}
#welcome-section-part1-span2{
    font-size: 30rem;
}
#welcome-section-part1-span3{
    font-size: 30rem;
}
#welcome-section-part2-icon-frame{
    width: 300px;
    height: 300px;
    z-index: 10;
}
#welcome-section-part2-icon{
    width: inherit;
    height: inherit;
}
